<a href="https://colab.research.google.com/github/fontanadaniel11/pandas/blob/main/Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. caricare il file

In [ ]:
import pandas as pd
film = pd.read_csv("https://raw.githubusercontent.com/wtitze/3E/main/2010.csv", delimiter=";")
film

2. visualizzare il numero di film per ogni lingua. Ordinare in ordine decrescente sul numero di film

In [ ]:
film.groupby("Language")[["Title"]].count().sort_values(by="Title")

3.  il numero di film per ogni nazione.

In [ ]:
film.groupby("Country")[["Country"]].count()

4.  il budget totale che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget totale

In [ ]:
filmgroup = film.groupby("Country")[["Budget"]].sum().reset_index().sort_values(by="Budget", ascending = False)
filmgroup

5. la nazione che ha investito il budget più alto

In [ ]:
filmgroup[filmgroup["Budget"] == filmgroup["Budget"].max()][["Country"]]

6. il budget medio che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget medio

In [ ]:
film.groupby("Country")[["Budget"]].mean().reset_index().sort_values(by="Budget", ascending = False)

7. le nazioni che hanno investito, in media, un budget più basso rispetto alla media complessiva dei budget delle nazioni

In [ ]:
budgetgroup = film.groupby("Country")[["Budget"]].mean().reset_index()
budgetgroup[budgetgroup["Budget"] < budgetgroup["Budget"].mean()][["Country"]]

8. il numero di film per ogni regista

In [ ]:
directorgroup = film.groupby("Director")[["Title"]].count().reset_index()
directorgroup

9.  il regista che ha diretto più film

In [ ]:
directorgroup[directorgroup["Title"] == directorgroup["Title"].max()][["Director"]]

10.  il numero di film per ogni genere

In [ ]:
film.groupby("Genres")[["Title"]].count().reset_index()

                                                Genres  Title
0                                               Action      6
1                                     Action|Adventure      3
2    Action|Adventure|Animation|Comedy|Drama|Family...      1
3    Action|Adventure|Animation|Comedy|Drama|Family...      1
4             Action|Adventure|Animation|Comedy|Family      3
..                                                 ...    ...
447                            Romance|Sci-Fi|Thriller      1
448                                             Sci-Fi      1
449                                    Sci-Fi|Thriller      4
450                                           Thriller     11
451                                            Western      2

[452 rows x 2 columns]