<a href="https://colab.research.google.com/github/fontanadaniel11/pandas/blob/main/PandasRiapasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("https://gist.githubusercontent.com/tiangechen/b68782efa49a16edaf07dc2cdaa855ea/raw/0c794a9717f18b094eabab2cd6a6b9a226903577")
df

1. contare il numero di righe

In [ ]:
len(df)

2. visualizzare le righe dalla 20 alla 30

In [ ]:
df[20:31]

3. visualizzare righe dalla 20 alle 30 mostrando solo le colonna film e genere

In [ ]:
df[20:31][["Film" , "Genre"]]

In [ ]:
df.iloc[20:31, 0:2]

4. visualizzare solo le righe 10, 20, 30

In [ ]:
df.iloc[[10, 20, 30]]

5. visualizzare i film che contengono la parola you nel titolo

In [ ]:
df[df["Film"].str.contains("You")][["Film"]]

6. visualizzare il film con il maggiore Rotten Tomatoes %

In [ ]:
df[df["Rotten Tomatoes %"] == df["Rotten Tomatoes %"].max()][["Film"]]

7. visualizzare le commedie prodotte dalla universal

In [ ]:
df[(df["Genre"].str.contains("Comedy")) & (df["Lead Studio"] == "Universal")]

8. contare quanti film sono usciti nel 2010

In [ ]:
len(df[df["Year"] == 2010])

9. contare quanti film hanno un audience score superiore alla media

In [ ]:
len(df[df["Audience score %"] > df["Audience score %"].mean()])

10. contare quanti film ci sono per ogni genere. Ordinare in modo decrescente sul numero di film

In [ ]:
df.groupby("Genre")[["Film"]].count().sort_values(by="Film", ascending = False)

11. contare quanti film sono stati prodotti in ogni anno

In [ ]:
dfanno = df.groupby("Year")[["Film"]].count().sort_values(by="Film", ascending = False)
dfanno

12. visualizzare l'anno con piÃ¹ film prodotti

In [ ]:
dfanno[dfanno["Film"] == dfanno["Film"].max()].index

13. visualizzare il totale dell'audience score per ogni genere

In [ ]:
df.groupby("Genre")[["Audience score %"]].sum().sort_values(by="Audience score %", ascending = False)

14. eliminare le righe con audience score maggiore di 50

In [ ]:
df.drop(df[df["Audience score %"] > 50].index, inplace = True)

In [ ]:
df

15. eliminare le colonne Profitability, Worldwide Gross

In [ ]:
df.drop(["Profitability", "Worldwide Gross"], axis = 1, inplace = True)

In [ ]:
df